@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<ul class="course">
    @foreach (var course in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.Datetime.ToString("MM")
                </div>
                <div class="day">
                    @course.Datetime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                    <button class="btn btn-default btn-sm js-toggle-follow"data-user-id="@course.LecturerId">Follow</button>
                </span>
                <span class="category">
                    @course.Category.Name
                </span>
                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
            </div>

        </li>

    }
</ul>
@section scripts
{
    <script>
    $(document).ready(function () {
        $(".js-tongle-attendance").click(function (e) {
            var button = $(e.target);
            $.post("/api/attendances", { Id: button.attr("data-course-id") })
                .done(function () {
                    alert("Đăng ký khóa học thành công!");
                    button.removeClass("btn-default");
                    button.addClass("btn-info");
                    button.text("Going");
                }).fail(function () {
                    alert("Something fail");
                });
        });
        $(".js-tongle-follow").click(function (e) {
            var button = $(e.target);
            $.post("/api/followings", { FolloweeId: button.attr("data-user-id") })
                .done(function () {
              button.text("Following");
                }).fail(function () {
                    alert("Something fail");
                });
        });
    });
        </script>
    }


